body {
    background-color: black;
    margin: 0;            
}
.head-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: rgb(190, 185, 176);
    background-color: rgb(78, 76, 76);
    align-items: center;
}

/* @media (max-width:659px){
    .navbar-1 {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: white;
        gap: 0;
        overflow: hidden;

    }
} */

.head-2 {
    padding-left: 100px;             
} 

.navbar-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #333;
    height: 70px;
    position: sticky;
    top: 0px;
    z-index: 1;
    padding-left: 100px;
    gap: 15px;
}

.navbar-2 {
    color: red;
    font-weight: bolder;
    font-size: 17px;
    font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    flex-wrap: wrap;
}

.li-1 {
    color: white;
    font-weight: bolder;
    font-size: 17px;
    font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    flex-wrap: wrap;
}

.li-1:hover {
    color: red;
}


.image-1 {
    display: flex;
    align-items: center; 
}

.image-2 {
    border-radius: 50px;          
}

.image-3 {
    display: flex;
    flex-wrap: wrap;          
}

.image-4 {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s;
}

.image-4:hover {
    transform: scale(1.1);
}

.image-5 {
    margin: 15px;
    background-color: rgb(39, 39, 38);
}

.searchbar-1 {
    width: 300px;
    padding: 10px;
    color: white;
    background-color: rgb(8, 0, 0); 
    border: 1px solid #ccc;          
}

.email-1 {
    padding: 10px;
    color: white;
    background-color: rgb(8, 0, 0); 
    border: 1px solid #ccc; 
    width: 250px;
}

.submitbu-1 {
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #4caf50;
}

.submitbu-1:hover {
    background-color: #3e8e41;
}

.backimage-1 {
    width: 100%;  
    background-color: black;
}

.backimage-2 {
    position: absolute;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    padding-left: 120px;
    padding-top: 150px;
    font-family: sans-serif;   
}

.backimage-3 {
    height: 800px;
}

.star-1 {
    color: red;
    background-color: red;   
}

.star-2 {
    margin-top: 20px;
    flex-wrap: wrap;   
}

.span-1 {
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 15px;
    flex-wrap: wrap;  
}
.actionlink-1 {
    text-decoration: none;
    color: white;
    flex-wrap: wrap;
    font-family: sans-serif;
    font-weight: bold;
    
}

.actionlink-1:hover{
    color: red;
}

.actionlink-2 {
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 10px;
}

.actionlink-2:hover{
    background-color: white;
}
.bacttext-1 {
    margin-bottom: 50px;   
}

.para-1 {
    font-weight: lighter;
    font-size: 18px;
    color: white;
    flex-wrap: wrap;
}

.para-2 {
    color: red;  
}

.para-3 {
    color: white;    
}

.backcol-1 {
    background-color: black;
    padding-left: 80px;
    padding-top: 35px;   
}

.backcol-2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.backcol-3 {
    padding-right: 192px;  
 }

.backcol-4 {
    color: #ccc;
    font-family: sans-serif;
    padding-top: 10px;    
}

.backcol-5 {
    text-decoration: none;
    color: white; 
    
 }

.backcol-5:hover {
    color: red;
}

.backcol-6 {
    border: none;
    background-color: red;
    width: 80px;
}

.backcol-6:hover {
    background-color: white;
}

   
.backcol-7 {
    display: flex;
    align-items: center;
}

.backcol-8 {
    padding-right: 75px;
    padding-top: 12px;
}

.yes-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.imagetext-1 {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.imagetext-2 {
    padding: 15px;
    width: 300px;  
}
.imagetext-3 {
    color: red;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
}

.more-1 {
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

.more-1:hover {
    background-color: white;
}

.more-2:hover {
    color: red;
}

.more-2 {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.more-3 {
    padding-top: 35px;
}

.trending-1 {
    background-color: #2e2e2e;
    height: auto;
    padding-left: 110px;
    padding-top: 35px; 
    
}

.navlink-1 {
    
}

.navlink-2 {
    margin-right: 10px;
    color: azure;
    margin-left: 0;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium',
     'Arial Narrow', Arial, sans-serif;
     text-decoration: none;
}

.group-1 {
    width: 17%;
    margin-top: 30px; 
    margin-bottom: 30px;
    margin-right: 15px;
 
    
}


.group-2 {
    display: flex;
    margin-top: 0px;  
    flex-wrap: wrap;
}

.group-3 {
    padding-top: 30px; 
    margin-right: 15px;  
}


.choice-1 {
 margin: 15px;   
}

.choice-2 {           
    width: 340px;
    height: 240px;
}


.choice-3 {
    display: flex;
    flex-wrap: wrap;
}

.choice-4 {
    position: absolute;
    padding-top: 100px;
    padding-left: 15px;   
}

.choice-5 {
    color: white;
    font-family: sans-serif; 
}

.choice-6 {
    color: red;
    text-decoration: none;
    font-family: sans-serif;
    font-size: large;
}


.top-2 {
    display: flex;
    padding-left: 80px;
    align-items: center;  
}


.top-3 {
    display: flex;
}   
   

.top-4 {
    width: 25%;
    margin: 10px;
    transition: 0.3s;  
}

.top-4:hover {
    transform: scale(1.1);
}

.top-5 { 
    width: 100%; 
}

.top-6 {
     padding-top: 30px;
    padding-left: 100px; 
}

.top-7 {
    padding-top: 40px;
    
}


.services-4 {
    background-color: black;
   padding-left: 90px;
   padding-top: 20px;

}


.coming-1 {
    text-decoration: none;
    color: white; 
    
}

.coming-1:hover {
    color: red;
}

.coming-2 {
    border: none;
    background-color: red;
    width: 80px;
    
}

.coming-2:hover {
    background-color: white;
}

.coming-3 {
    padding-right: 191px; 
}

.yes-2 {
    padding-right: 158px;
}

.yes-3 {
    padding-right: 150px;
}


.planet-1 {
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    padding-left: 110px;
    padding-top: 15px; 
      
}

.plant-2 { 
    color: white;
    font-family: sans-serif; 
}

.plant-3 {
    font-family: sans-serif;
    color: red;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}

.plant-4 {
    color: red;
}

.plant-5 {
   width: 90px;
   margin-right: 5px;
   margin-bottom: 5px;
   transition: 0.3s;
}

.plant-5:hover {
    transform: scale(1.1);
}

.plant-6 {
    padding-top: 20px;
    margin-right: 70px;
}

.plant-7 {
    vertical-align: auto; 
    
}

.plant-8 {
    width: auto; 
    margin-right: 60px;
     
}

.design-1 {
    color: white;
    padding-right: 150px;
    font-family: sans-serif;
}

.design-2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;  
    align-items: center;
}

.li-2 {
    color: white;
    text-decoration: none;
    margin: 5px;    
}

.link-1 {
    padding-left: 300px;
    padding-top: 23px;
}

.link-2 {
    margin: 2px;
}

.link-3 {
    padding-top: 15px;
}


@media
